<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">   
    <title>Termo de Contrato</title>
</head>
<body>

    <div class="container">
        <div id="privacidade">
            <div class="card" style="width: 18rem;" >
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                <p class="card-text">Privacidade.</p>         
                </div>       
            </div>
        </div>
    </div>

    <div class="container">
        <div id="termos">
            <div class="card" style="width: 18rem;" >
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Termos de uso.</p>         
                </div>       
            </div>
        </div>
    </div>
    
    <div class="container">
        <div id="jurisdicao">
            <div class="card" style="width: 18rem;" >
                <img class="card-img-top" src="..." alt="Card image cap">        
                <div class="card-body">
                    <p class="card-text">Jurisdição.</p>                   
                </div>       
            </div>
        </div>
        <style>
            #jurisdicao{
                float:right;
            }
        </style>
    </div>
    
    <div class="container">
        <div id="seguranca">
            <div class="card" style="width: 18rem;" >
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Segurança.</p>         
                </div>       
            </div>
        </div>
        <style>
            #seguranca{
                float:right;
            }
        </style>
    </div>
</body>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="/js/bootstrap.min.js"></script>
</html>