<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style.css">

    <!-- LINKS DO BOOTSTRAP-->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="node_modules/bootstrap/compiler/bootstrap.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  
    <!-- LINKS DO FONT e ICONS-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <title>Termo de Contrato</title>
</head>
<body>
  <!-- START DOS CARDS -->
  <div id="particles-js"></div>
  <div class="raw">
      <div id=container>
          Reading
          <div id=flip>
              <div>
                  <div>interesting</div>
              </div>
              <div>
                  <div>Be</div>
              </div>
              <div>
                  <div>Can</div>
              </div>
          </div>
          AweSoMe!
      </div>
      <div class="flip-container" ontouchstart="this.classList.toggle('hover');" onclick="Page('carregar')" style="cursor: pointer;">
          <div class="flipper">
              <div class="front">
                  <i class="fas fa-user-secret"></i>
              </div>
              <div class="back">
                  <p>Privacidade</p>
              </div>
          </div>
      </div>

      <div class="flip-container" ontouchstart="this.classList.toggle('hover');" onclick="Page('carregar')" style="cursor: pointer;">
          <div class="flipper">
              <div class="front">
                  <i class="fas fa-user-shield"></i>
              </div>
              <div class="back">
                  <p>Segurança</p>
              </div>
          </div>
      </div>

      <div class="flip-container" ontouchstart="this.classList.toggle('hover');" onclick="Page('carregar')" style="cursor: pointer;">
          <div class="flipper">
              <div class="front">
                  <i class="fas fa-gavel"></i>
              </div>
              <div class="back">
                  <p>Juridico</p>
              </div>
          </div>
      </div>

      <div class="flip-container" ontouchstart="this.classList.toggle('hover');" onclick="Page('carregar')" style="cursor: pointer;">
          <div class="flipper">
              <div class="front">
                  <i class="fas fa-mouse"></i>
              </div>
              <div class="back">
                  <p>Uso</p>
              </div>
          </div>
      </div>
  </div>
</body>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js"></script>
<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="https://threejs.org/examples/js/libs/stats.min.js"></script>
<script src="/js/particles.js" type="text/javascript"></script>
</html>